Mirror Mage/Logs/shadercompiler-UnityShaderCompiler.exe-0.log
Mirror Mage/Library/UndoStack.bin
Mirror Mage/Library/UndoData.bin
Mirror Mage/Library/SourceAssetDB-lock
Mirror Mage/Library/SourceAssetDB
Mirror Mage/Library/ShaderCache.db
Mirror Mage/Library/Search/transactions.db
Mirror Mage/Library/ArtifactDB-lock
Mirror Mage/Library/ArtifactDB
